In [1]:
# importamos pandas y el documento del 2019
import pandas as pd
import numpy as np

caractericas_vivienda_hogar_2019 = pd.read_csv('../Data 2019/Características de la Vivienda y del Hogar/Enaho01-2019-100.csv', encoding='latin1')


caractericas_vivienda_hogar_2019

caractericas_vivienda_hogar_2019 = caractericas_vivienda_hogar_2019[['UBIGEO', 'P110A1', 'P1121', 'P1141', 'P1142', 'P1143', 'P1144']]

caractericas_vivienda_hogar_2019 = caractericas_vivienda_hogar_2019.rename(columns={'ubigeo':'departamento','P110A1': 'agua_potable', 
                              'P1121': 'electricidad',
                              'P1141': 'telefono',
                              'P1142': 'celular',
                              'P1144': 'internet',
                              'P1143':'tv'})

caractericas_vivienda_hogar_2019 = caractericas_vivienda_hogar_2019.rename(columns=str.lower)

#departamento
departamentos = {
    "01": "Amazonas",
    "02": "Áncash",
    "03": "Apurímac",
    "04": "Arequipa",
    "05": "Ayacucho",
    "06": "Cajamarca",
    "07": "Callao",
    "08": "Cusco",
    "09": "Huancavelica",
    "10": "Huanuco",
    "11": "Ica",
    "12": "Junin",
    "13": "La Liberta",
    "14": "Lambayeque",
    "15": "Lima",
    "16": "Loreto",
    "17": "Madre de Dios",
    "18": "Moquegua",
    "19": "Pasco",
    "20": "Piura",
    "21": "Puno",
    "22": "San Martin",
    "23": "Tacna",
    "24": "Tumbes",
    "25": "Ucayali"
}
caractericas_vivienda_hogar_2019['ubigeo'] = caractericas_vivienda_hogar_2019['ubigeo'].astype(str)

caractericas_vivienda_hogar_2019['COD_DEPARTAMENTO'] = caractericas_vivienda_hogar_2019['ubigeo'].str[:2]

caractericas_vivienda_hogar_2019['departamentos'] = caractericas_vivienda_hogar_2019['COD_DEPARTAMENTO'].map(departamentos)



#agua_potable
caractericas_vivienda_hogar_2019['agua_potable'] = caractericas_vivienda_hogar_2019['agua_potable'].replace({" ": "999","2":"0"})
caractericas_vivienda_hogar_2019['agua_potable'] = caractericas_vivienda_hogar_2019['agua_potable'].astype(int)
caractericas_vivienda_hogar_2019['agua_potable'] = caractericas_vivienda_hogar_2019['agua_potable'].replace({999: np.nan})

#electricidad

caractericas_vivienda_hogar_2019['electricidad'] = caractericas_vivienda_hogar_2019['electricidad'].replace({" ": "999","2":"0"})
caractericas_vivienda_hogar_2019['electricidad'] = caractericas_vivienda_hogar_2019['electricidad'].astype(int)
caractericas_vivienda_hogar_2019['electricidad'] = caractericas_vivienda_hogar_2019['electricidad'].replace({999: np.nan})


#telefono
caractericas_vivienda_hogar_2019['telefono'] = caractericas_vivienda_hogar_2019['telefono'].replace({" ": "999","2":"0"})
caractericas_vivienda_hogar_2019['telefono'] = caractericas_vivienda_hogar_2019['telefono'].astype(int)
caractericas_vivienda_hogar_2019['telefono'] = caractericas_vivienda_hogar_2019['telefono'].replace({999: np.nan})

#celular
caractericas_vivienda_hogar_2019['celular'] = caractericas_vivienda_hogar_2019['celular'].replace({" ": "999","2":"0"})
caractericas_vivienda_hogar_2019['celular'] = caractericas_vivienda_hogar_2019['celular'].astype(int)
caractericas_vivienda_hogar_2019['celular'] = caractericas_vivienda_hogar_2019['celular'].replace({999: np.nan})

#tv
caractericas_vivienda_hogar_2019['tv'] = caractericas_vivienda_hogar_2019['tv'].replace({" ": "999","2":"0"})
caractericas_vivienda_hogar_2019['tv'] = caractericas_vivienda_hogar_2019['tv'].astype(int)
caractericas_vivienda_hogar_2019['tv'] = caractericas_vivienda_hogar_2019['tv'].replace({999: np.nan})

#internet
caractericas_vivienda_hogar_2019['internet'] = caractericas_vivienda_hogar_2019['internet'].replace({" ": "999","2":"0"})
caractericas_vivienda_hogar_2019['internet'] = caractericas_vivienda_hogar_2019['internet'].astype(int)
caractericas_vivienda_hogar_2019['internet'] = caractericas_vivienda_hogar_2019['internet'].replace({999: np.nan})

caractericas_vivienda_hogar_2019 = caractericas_vivienda_hogar_2019.dropna(subset=['ubigeo', 'agua_potable', 'electricidad', 'telefono','celular','tv','internet'])

caractericas_vivienda_hogar_2019

C:\Users\juand\AppData\Local\Temp\ipykernel_2200\3676059616.py:5: DtypeWarning: Columns (210) have mixed types. Specify dtype option on import or set low_memory=False.
  caractericas_vivienda_hogar_2019 = pd.read_csv('../Data 2019/Características de la Vivienda y del Hogar/Enaho01-2019-100.csv', encoding='latin1')

,ubigeo,agua_potable,electricidad,telefono,celular,tv,internet,COD_DEPARTAMENTO,departamentos
0,10101,1.0,1.0,0.0,1.0,0.0,1.0,10,Huanuco
1,10101,1.0,1.0,0.0,1.0,0.0,1.0,10,Huanuco
4,10101,1.0,1.0,0.0,1.0,1.0,0.0,10,Huanuco
6,10101,1.0,1.0,0.0,1.0,1.0,0.0,10,Huanuco
7,10101,1.0,1.0,0.0,1.0,1.0,1.0,10,Huanuco
...,...,...,...,...,...,...,...,...,...
43863,180101,1.0,1.0,0.0,1.0,1.0,1.0,18,Moquegua
43864,180101,1.0,1.0,0.0,1.0,0.0,0.0,18,Moquegua
43865,180101,1.0,1.0,0.0,1.0,0.0,0.0,18,Moquegua
43866,180101,1.0,1.0,0.0,1.0,0.0,0.0,18,Moquegua
43867,180101,1.0,1.0,0.0,1.0,0.0,1.0,18,Moquegua

MODULO CARACTERISTICAS MIEMBROS DEL HOGAR

In [2]:
# Ejemplo con separador de punto y coma (;)
caractericas_miembros_hogar_2019 = pd.read_csv('../Data 2019/Características de los Miembros del Hogar/Enaho01-2019-200.csv', encoding='latin1')
caractericas_miembros_hogar_2019


caractericas_miembros_hogar_2019


caractericas_miembros_hogar_2019 = caractericas_miembros_hogar_2019[['UBIGEO', 'P207', 'P208A', 'P209']]

caractericas_miembros_hogar_2019 = caractericas_miembros_hogar_2019.rename(columns={'ubigeo':'departamento','P207': 'male', 
                              'P208A': 'edad',
                              'P209': 'casado',
                              })

caractericas_miembros_hogar_2019 = caractericas_miembros_hogar_2019.rename(columns=str.lower)




#casado
caractericas_miembros_hogar_2019['casado'] = caractericas_miembros_hogar_2019['casado'].replace({" ": "999",'2': '0', '3': '0', '4': '0', '5': '0', '6': '0'})
caractericas_miembros_hogar_2019['casado'] = caractericas_miembros_hogar_2019['casado'].astype(int)
caractericas_miembros_hogar_2019['casado'] = caractericas_miembros_hogar_2019['casado'].replace({999: np.nan})


#male
caractericas_miembros_hogar_2019['male'] = caractericas_miembros_hogar_2019['male'].replace({" ": "999","2":"0"})
caractericas_miembros_hogar_2019['male'] = caractericas_miembros_hogar_2019['male'].astype(int)
caractericas_miembros_hogar_2019['male'] = caractericas_miembros_hogar_2019['male'].replace({999: np.nan})

caractericas_miembros_hogar_2019 = caractericas_miembros_hogar_2019.dropna(subset=['ubigeo', 'male', 'casado', 'edad'])

caractericas_miembros_hogar_2019

        ubigeo  male edad  casado
0        10101   0.0   60     0.0
1        10101   0.0   28     0.0
2        10101   0.0   48     0.0
3        10101   0.0   25     0.0
4        10101   0.0   16     0.0
...        ...   ...  ...     ...
128268  180101   1.0   35     1.0
128269  180101   0.0   33     1.0
128273  180101   0.0   41     1.0
128274  180101   1.0   22     0.0
128275  180101   0.0   12     0.0

[99515 rows x 4 columns]

MODULO EDUCACION

In [3]:

caractericas_educacion_2019 = pd.read_csv('../Data 2019/Educación/Enaho01A-2019-300.csv', encoding='latin1')
caractericas_educacion_2019

caractericas_educacion_2019 = caractericas_educacion_2019[['UBIGEO','P301A']]

caractericas_educacion_2019 = caractericas_educacion_2019.rename(columns={'ubigeo':'departamento','P301A': 'educacion'
                              })

caractericas_educacion_2019 = caractericas_educacion_2019.rename(columns=str.lower)

#EDUCACION 
mapeo_educacion = {
    '1': 'sin educación',
    '3': 'educación basica',
    '4': 'educación basica',
    '5': 'educación basica',
    '6': 'educación basica',
    '7': 'educación superior',
    '8': 'educación superior',
    '9': 'educación superior',
    '10': 'educación superior',
    '11': 'maestría/doctorado',
    '2': 'educación basica'
}
caractericas_educacion_2019['educacion'] = caractericas_educacion_2019['educacion'].astype(str)

caractericas_educacion_2019['COD_DEPARTAMENTO'] = caractericas_educacion_2019['educacion'].str[:2]

caractericas_educacion_2019['educacion'] = caractericas_educacion_2019['COD_DEPARTAMENTO'].map(mapeo_educacion)



caractericas_educacion_2019 = caractericas_educacion_2019.dropna(subset=['ubigeo','educacion'])

caractericas_educacion_2019

C:\Users\juand\AppData\Local\Temp\ipykernel_2200\1169979457.py:1: DtypeWarning: Columns (13,14,27,33,46,215,230) have mixed types. Specify dtype option on import or set low_memory=False.
  caractericas_educacion_2019 = pd.read_csv('../Data 2019/Educación/Enaho01A-2019-300.csv', encoding='latin1')

        ubigeo           educacion COD_DEPARTAMENTO
0        10101       sin educación                1
1        10101  educación superior               10
2        10101    educación basica                5
3        10101    educación basica                6
4        10101    educación basica                6
...        ...                 ...              ...
116585  180101  educación superior                8
116586  180101    educación basica                2
116587  180101    educación basica                5
116588  180101  educación superior                9
116589  180101    educación basica                3

[116400 rows x 3 columns]

MODULO SALUD

In [4]:
caractericas_salud_2019 = pd.read_csv('../Data 2019/Salud/Enaho01A-2019-400.csv', encoding='latin1')
caractericas_salud_2019



caractericas_salud_2019 = caractericas_salud_2019[['UBIGEO', 'P4193', 'P4192', 'P4191', 'P401', 'P4195', 'P4194' ]]

caractericas_salud_2019 = caractericas_salud_2019.rename(columns={'ubigeo':'departamento','P4193': 'seguro_eps','P4192': 'seguro_privado',
                             'P4194': 'seguro_policial',
                              'P4191': 'seguro_essalud',
                              'P401': 'enfermedad_cronica','P4195': 'seguro_sis'})

caractericas_salud_2019 = caractericas_salud_2019.rename(columns=str.lower)



caractericas_salud_2019['seguro_eps'] = caractericas_salud_2019['seguro_eps'].replace({" ": "999","2":"0"})
caractericas_salud_2019['seguro_eps'] = caractericas_salud_2019['seguro_eps'].astype(int)
caractericas_salud_2019['seguro_eps'] = caractericas_salud_2019['seguro_eps'].replace({999: np.nan})

#seguro_privado
caractericas_salud_2019['seguro_privado'] = caractericas_salud_2019['seguro_privado'].replace({" ": "999","2":"0"})
caractericas_salud_2019['seguro_privado'] = caractericas_salud_2019['seguro_privado'].astype(int)
caractericas_salud_2019['seguro_privado'] = caractericas_salud_2019['seguro_privado'].replace({999: np.nan})

#seguro_policial
caractericas_salud_2019['seguro_policial'] = caractericas_salud_2019['seguro_policial'].replace({" ": "999","2":"0"})
caractericas_salud_2019['seguro_policial'] = caractericas_salud_2019['seguro_policial'].astype(int)
caractericas_salud_2019['seguro_policial'] = caractericas_salud_2019['seguro_policial'].replace({999: np.nan})

#seguro_essalud
caractericas_salud_2019['seguro_essalud'] = caractericas_salud_2019['seguro_essalud'].replace({" ": "999","2":"0"})
caractericas_salud_2019['seguro_essalud'] = caractericas_salud_2019['seguro_essalud'].astype(int)
caractericas_salud_2019['seguro_essalud'] = caractericas_salud_2019['seguro_essalud'].replace({999: np.nan})

#enfermedad_cronica
caractericas_salud_2019['enfermedad_cronica'] = caractericas_salud_2019['enfermedad_cronica'].replace({" ": "999","2":"0"})
caractericas_salud_2019['enfermedad_cronica'] = caractericas_salud_2019['enfermedad_cronica'].astype(int)
caractericas_salud_2019['enfermedad_cronica'] = caractericas_salud_2019['enfermedad_cronica'].replace({999: np.nan})

#seguro_sis
caractericas_salud_2019['seguro_sis'] = caractericas_salud_2019['seguro_sis'].replace({" ": "999","2.0":"0"})
caractericas_salud_2019['seguro_sis'] = caractericas_salud_2019['seguro_sis'].astype(int)
caractericas_salud_2019['seguro_sis'] = caractericas_salud_2019['seguro_sis'].replace({999: np.nan})

caractericas_salud_2019 = caractericas_salud_2019.dropna(subset=['ubigeo','seguro_sis','enfermedad_cronica','seguro_essalud','seguro_policial','seguro_privado','seguro_eps'])


caractericas_salud_2019

C:\Users\juand\AppData\Local\Temp\ipykernel_19464\3275304536.py:1: DtypeWarning: Columns (15,32,34,35,36,37,38,39,40,41,42,43,44,45,46,47,89,91,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,449,450,451,452,453,454,455,456,465,469) have mixed types. Specify dtype option on import or set low_memory=False.
  caractericas_salud_2019 = pd.read_csv('../Data 2019/Salud/Enaho01A-2019-400.csv', encoding='latin1')

,ubigeo,seguro_eps,seguro_privado,seguro_essalud,enfermedad_cronica,seguro_sis,seguro_policial,COD_DEPARTAMENTO,departamentos
0,10101,2.0,2.0,1.0,1.0,2.0,2.0,10,Huanuco
1,10101,2.0,2.0,2.0,2.0,2.0,2.0,10,Huanuco
2,10101,2.0,2.0,2.0,1.0,1.0,2.0,10,Huanuco
3,10101,2.0,2.0,1.0,1.0,2.0,2.0,10,Huanuco
4,10101,2.0,2.0,2.0,1.0,1.0,2.0,10,Huanuco
...,...,...,...,...,...,...,...,...,...
121618,180101,2.0,2.0,2.0,2.0,1.0,2.0,18,Moquegua
121619,180101,2.0,2.0,2.0,2.0,1.0,2.0,18,Moquegua
121620,180101,2.0,2.0,1.0,2.0,2.0,2.0,18,Moquegua
121621,180101,2.0,2.0,2.0,2.0,1.0,2.0,18,Moquegua
121622,180101,2.0,2.0,1.0,1.0,2.0,2.0,18,Moquegua

MODULO EMPLEO

In [5]:

caractericas_empleo_2019 = pd.read_csv('../Data 2019/Empleo e Ingresos/Enaho01a-2019-500.csv', encoding='latin1')

caractericas_empleo_2019




caractericas_empleo_2019 = caractericas_empleo_2019.rename(columns={'ubigeo':'departamento','D538A1': 'ingresos_mensuales2', 
                              'D524A1': 'ingresos_mensuales1',
                              'OCUPINF': 'formalidad',
                              'P512A': 'tamaño_empresa'
                              })

caractericas_empleo_2019 = caractericas_empleo_2019.rename(columns=str.lower)





#tamaño_empresa

mapeo_tamano_empresa={
    '1': '1',
    '3': '2',
    '4': '3',
    '5': '4',
    '2': '1'
}

caractericas_empleo_2019['tamaño_empresa'] = caractericas_empleo_2019['tamaño_empresa'].str.strip()

caractericas_empleo_2019['tamaño_empresa'] = caractericas_empleo_2019['tamaño_empresa'].replace(mapeo_tamano_empresa)

#formalidad
caractericas_empleo_2019['formalidad'] = caractericas_empleo_2019['formalidad'].replace({" ": "999","2":"0","NaN":"999"})
caractericas_empleo_2019['formalidad'] = caractericas_empleo_2019['formalidad'].astype(int)
caractericas_empleo_2019['formalidad'] = caractericas_empleo_2019['formalidad'].replace({999: np.nan})


#INGRESOS
caractericas_empleo_2019['ingresos_mensuales'] = caractericas_empleo_2019['ingresos_mensuales1'] + caractericas_empleo_2019['ingresos_mensuales2']

caractericas_empleo_2019['ingresos_mensuales'] = pd.to_numeric(caractericas_empleo_2019['ingresos_mensuales'], errors='coerce')

caractericas_empleo_2019['ingresos_mensuales'].value_counts()

ipc_2019 = 1.05

#ingreso mensual deflactado

caractericas_empleo_2019['ingresos_mensuales_deflactados'] = caractericas_empleo_2019['ingresos_mensuales'] / ipc_2019
caractericas_empleo_2019['ingresos_mensuales_deflactados']
caractericas_empleo_2019['ingresos_mensuales_deflactados'] = caractericas_empleo_2019['ingresos_mensuales_deflactados'].replace({" ": "999", "2": "0"})
caractericas_empleo_2019['ingresos_mensuales_deflactados'] = pd.to_numeric(caractericas_empleo_2019['ingresos_mensuales_deflactados'], errors='coerce')
caractericas_empleo_2019['ingresos_mensuales_deflactados'].fillna(np.nan, inplace=True)
caractericas_empleo_2019['ingresos_mensuales_deflactados'] = caractericas_empleo_2019['ingresos_mensuales_deflactados'].round().astype('Int64')


caractericas_empleo_2019 = caractericas_empleo_2019[['ubigeo', 'formalidad', 'tamaño_empresa', 'ingresos_mensuales_deflactados']]

caractericas_empleo_2019 = caractericas_empleo_2019.dropna(subset=['ubigeo', 'formalidad', 'tamaño_empresa', 'ingresos_mensuales_deflactados'])
 
caractericas_empleo_2019

C:\Users\juand\AppData\Local\Temp\ipykernel_19464\1310386139.py:1: DtypeWarning: Columns (212,217,222,230,235,240,245,250,255,260,265,270,275,280,287,290,293,296,299,302,305,308,312,314,316,318,320,322,324,327,328,329,330,331,335,336,424,425,426,427,874,875,876,877,878,879,880,881,882,883,954,957,962,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351) have mixed types. Specify dtype option on import or set low_memory=False.
  caractericas_empleo_2019 = pd.read_csv('../Data 2019/Empleo e Ingresos/Enaho01a-2019-500.csv', encoding='latin1')

       ubigeo  formalidad tamaño_empresa  ingresos_mensuales_deflactados
0       10101         1.0              1                            3992
2       10101         0.0              1                           10267
4       10101         1.0              1                            6845
6       10101         1.0              1                            3422
9       10101         1.0              1                            6160
...       ...         ...            ...                             ...
92088  180101         0.0              3                           34125
92089  180101         1.0              4                            5688
92090  180101         1.0              1                           14776
92092  180101         1.0              1                            7369
92093  180101         1.0              1                           11790

[29244 rows x 4 columns]

### **UNIENDO BASE DE DATOS 2018**

In [6]:
caractericas_miembros_hogar_2019['ubigeo'] = caractericas_miembros_hogar_2019['ubigeo'].astype(str)
caractericas_vivienda_hogar_2019['ubigeo'] = caractericas_vivienda_hogar_2019['ubigeo'].astype(str)

individual_1 = pd.merge(caractericas_miembros_hogar_2019, caractericas_vivienda_hogar_2019, on=['ubigeo'], how='outer')
individual_1 = individual_1.dropna()

,ubigeo,male,edad,casado,COD_DEPARTAMENTO,departamentos,agua_potable,electricidad,telefono,celular,tv,internet
0,10101,0.0,60,0.0,10,Huanuco,1.0,1.0,0.0,1.0,0.0,1.0
1,10101,0.0,60,0.0,10,Huanuco,1.0,1.0,0.0,1.0,0.0,1.0
2,10101,0.0,60,0.0,10,Huanuco,1.0,1.0,0.0,1.0,1.0,0.0
3,10101,0.0,60,0.0,10,Huanuco,1.0,1.0,0.0,1.0,1.0,0.0
4,10101,0.0,60,0.0,10,Huanuco,1.0,1.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8991794,211305,0.0,25,0.0,21,Puno,1.0,1.0,0.0,1.0,0.0,0.0
8991795,211305,0.0,25,0.0,21,Puno,0.0,1.0,0.0,1.0,0.0,0.0
8991796,211305,0.0,25,0.0,21,Puno,1.0,1.0,0.0,1.0,0.0,0.0
8991797,211305,0.0,25,0.0,21,Puno,0.0,1.0,0.0,0.0,0.0,0.0
8991798,211305,0.0,25,0.0,21,Puno,0.0,1.0,0.0,1.0,1.0,0.0

In [7]:
caractericas_miembros_hogar_2019['ubigeo'] = caractericas_miembros_hogar_2019['ubigeo'].astype(str)
caractericas_educacion_2019['ubigeo'] = caractericas_educacion_2019['ubigeo'].astype(str)

individual_2 = pd.merge(caractericas_miembros_hogar_2019, caractericas_educacion_2019, on=['ubigeo'], how='outer')
individual_2 = individual_2.dropna()

,ubigeo,male,edad,casado,COD_DEPARTAMENTO,departamentos,educacion
0,10101,0.0,60,0.0,10,Huanuco,sin educación
1,10101,0.0,60,0.0,10,Huanuco,educación superior
2,10101,0.0,60,0.0,10,Huanuco,educación basica
3,10101,0.0,60,0.0,10,Huanuco,educación basica
4,10101,0.0,60,0.0,10,Huanuco,educación basica
...,...,...,...,...,...,...,...
28105454,211305,0.0,25,0.0,21,Puno,educación basica
28105455,211305,0.0,25,0.0,21,Puno,sin educación
28105456,211305,0.0,25,0.0,21,Puno,sin educación
28105457,211305,0.0,25,0.0,21,Puno,educación basica
28105458,211305,0.0,25,0.0,21,Puno,educación basica

In [8]:

caractericas_miembros_hogar_2019['ubigeo'] = caractericas_miembros_hogar_2019['ubigeo'].astype(str)
caractericas_empleo_2019['ubigeo'] = caractericas_empleo_2019['ubigeo'].astype(str)

individual_3 = pd.merge(caractericas_miembros_hogar_2019, caractericas_empleo_2019, on=['ubigeo'], how='outer')
individual_3 = individual_3.dropna()

,ubigeo,male,edad,casado,COD_DEPARTAMENTO,departamentos,formalidad,tamaño_empresa,ingresos_mensuales_deflactados
0,10101,0.0,60,0.0,10,Huanuco,1.0,1,3992
1,10101,0.0,60,0.0,10,Huanuco,0.0,1,10267
2,10101,0.0,60,0.0,10,Huanuco,1.0,1,6845
3,10101,0.0,60,0.0,10,Huanuco,1.0,1,3422
4,10101,0.0,60,0.0,10,Huanuco,1.0,1,6160
...,...,...,...,...,...,...,...,...,...
7952197,211305,0.0,25,0.0,21,Puno,1.0,1,2041
7952198,211305,0.0,25,0.0,21,Puno,1.0,1,2950
7952199,211305,0.0,25,0.0,21,Puno,1.0,1,7095
7952200,211305,0.0,25,0.0,21,Puno,1.0,1,284
7952201,211305,0.0,25,0.0,21,Puno,1.0,1,1229

In [9]:
caractericas_miembros_hogar_2019['ubigeo'] = caractericas_salud_2019['ubigeo'].astype(str)
caractericas_salud_2019['ubigeo'] = caractericas_salud_2019['ubigeo'].astype(str)

individual_4 = pd.merge(caractericas_miembros_hogar_2019, caractericas_salud_2019, on=['ubigeo'], how='outer')
individual_4 = individual_4.dropna()

MemoryError: Unable to allocate 1.31 GiB for an array with shape (6, 29378391) and data type float64

In [ ]:
dataframes_2019 = [individual_4,individual_3,individual_2,individual_1] 

concatenacion_2019 = pd.concat(dataframes_2019, axis=1)

MemoryError: Unable to allocate 1.75 GiB for an array with shape (8, 29378391) and data type float64

In [ ]:
concatenacion_2019.to_excel("../data/final/concatenacion_2019.xlsx")

#bbdd_master.groupby('ciudad')['edad'].agg([np.mean, np.max, np.min])